body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #fff; }

p {
  line-height: 1.5; }

main#container {
  background-image: url(../img/clouds.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  position: relative;
  overflow: hidden; }

.cloud, .cloud-2 {
  position: absolute;
  height: 150px;
  animation: cloud 10s; }
  @media (max-width: 767px) {
    .cloud, .cloud-2 {
      display: none; } }

.cloud {
  bottom: 67px;
  left: 0;
  animation: cloud 160s infinite; }

.cloud-2 {
  bottom: 50px;
  right: 0;
  animation: cloudTwo 200s infinite; }

.logo {
  display: inline-block;
  margin-top: 20px; }

.intro-wrap {
  margin-top: 80px; }

.b-black {
  font-weight: 900; }

.cta-text p {
  color: #fff; }
  .cta-text p:first-child {
    font-size: 2em;
    margin-top: 40px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.7); }
  .cta-text p:last-child {
    font-size: 1em;
    line-height: 1.7;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.85); }
@media (max-width: 767px) {
  .cta-text {
    text-align: center; } }

@media (max-width: 767px) {
  .cta-btn {
    text-align: center; } }

.grape-btn {
  background: #FF5C65;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 15px;
  transition: opacity .4s; }
  .grape-btn:active, .grape-btn:focus {
    outline: 0; }
  .grape-btn:active {
    transform: scale(1.01); }
  .grape-btn:hover {
    opacity: .8; }

.soda-container {
  height: 100%;
  width: 130px;
  height: 390px;
  position: relative; }
  .soda-container img {
    position: absolute;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    bottom: 20px;
    right: 60px;
    width: 75px;
    z-index: 99; }
    .soda-container img.active {
      z-index: 100;
      right: 0;
      bottom: 0;
      width: 100px; }
  @media (max-width: 767px) {
    .soda-container {
      margin: 0 auto; } }

.video-section {
  padding-bottom: 40px; }
  @media (max-width: 767px) {
    .video-section {
      margin-top: 40px; }
      .video-section iframe {
        height: 170px; } }
  @media (max-width: 991px) {
    .video-section iframe {
      height: 185px; } }
  @media (max-width: 1199) {
    .video-section iframe {
      height: 253px; } }

.overlay {
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  display: none; }
  .overlay .close-btn {
    width: 25px;
    height: 25px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    cursor: pointer; }
    .overlay .close-btn:before, .overlay .close-btn:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 10px;
      background: #000;
      left: 49%;
      top: calc(50% - 5px); }
    .overlay .close-btn:before {
      transform: rotate(45deg); }
    .overlay .close-btn:after {
      transform: rotate(-45deg); }

.about-soda {
  max-width: 900px;
  background: #fff;
  height: 400px;
  overflow-y: scroll;
  margin: 20px auto 0 auto;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: all .4s; }
  .about-soda .soda-1 {
    background-color: #FF6D69;
    background-image: url(../img/grape.png);
    background-repeat: no-repeat;
    background-position: 68% 60px;
    background-attachment: fixed;
    background-color: -webkit-linear-gradient(0deg, #ff6d69 0%, #ff7769 100%);
    background-size: 115px auto;
    color: #fff; }
  .about-soda .soda-2 {
    background-color: #FFBD66;
    background-image: url(../img/orange.png);
    background-repeat: no-repeat;
    background-position: 68% 60px;
    background-attachment: fixed;
    background-size: 115px auto;
    color: #fff; }
  .about-soda [class^="soda-"] {
    padding: 15px;
    min-height: 400px; }
    @media (max-width: 767px) {
      .about-soda [class^="soda-"] {
        padding-top: 250px;
        background-size: 65px auto;
        background-position: 50% 15px;
        background-attachment: initial; } }
    .about-soda [class^="soda-"] p {
      margin-top: 40px;
      margin-bottom: 60px; }

.scroll-btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 7px 12px;
  transition: background .4s; }
  .scroll-btn.next:hover {
    background: #fff;
    color: #FF6D69; }
  .scroll-btn.prev:hover {
    background: #fff;
    color: #FFBD66; }
  .scroll-btn:active, .scroll-btn:focus {
    outline: 0; }
  .scroll-btn:active {
    transform: scale(1.01); }
  @media (max-width: 767px) {
    .scroll-btn {
      display: none; } }

.modal-opened .about-soda {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); }

@keyframes cloud {
  0% {
    left: 0%; }
  50% {
    left: 40%; }
  100% {
    left: 80%; } }
@keyframes cloudTwo {
  0% {
    right: 0%; }
  50% {
    right: 40%; }
  100% {
    right: 80%; } }

/*# sourceMappingURL=style.css.map */
